/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@800&display=swap');



/* --- Variables --- */
:root {
  --light-to-dark: #F6F7F9;
  --dark-to-light: #2A2D3C;
  --shade-color: #DADEE7;
  --light-bg: rgba(246, 247, 249, 0.4);
  --dark-bg: rgba(246, 247, 249, 0.95);
}

[data-theme="dark"] {
  --light-to-dark: #191B24;
  --dark-to-light: #DADEE7;
  --shade-color: #2A2D3C;
  --light-bg: rgba(25, 27, 36, 0.4);
  --dark-bg: rgba(25, 27, 36, 0.95);
}



/* --- Misc --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  background-color: var(--light-to-dark);
  color: var(--dark-to-light);
  overflow-x: hidden;
  transition: all 0.2s ease-in;
}

a {
  text-decoration: none;
}

h1, h2, #logo {
  font-family: 'Roboto', sans-serif;
}

.text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}



/* --- Header Section --- */
#header {
  z-index: 1000;
  position: fixed;
  padding: 16px 10%;
  width: 100%;
  background-color: var(--light-bg);
  transition: all 0.2s ease-in;
}

.container {
  display: flex;
}

#header .container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#logo {
  transform: scale(0.8);
  display: flex;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 3em;
  font-weight: 600;
  transition: transform 0.1s ease-in;
  animation: 0.5s ease-in 0.25s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0.25s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
  margin-left: -8px
}

#logo .j {
  transition: all 0.2s ease-in;
  color: var(--light-to-dark);
  padding: 6px 15.65px 4px 15.65px;
  background-color: #00cc9c;
  border-radius: 50%;
}

#logo .s {
  z-index: -1;
  transition: all 0.2s ease-in;
  margin-left: -10px;
  color: var(--light-to-dark);
  background-color: var(--dark-to-light);
  padding: 4px 13.65px 2px 13.65px;
  border: 2px solid var(--dark-to-light);
  border-radius: 50%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease-in;
  animation: 0.5s ease-in 0.25s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0.25s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.nav a {
  position: relative;
  display: inline-block;
  color: var(--dark-to-light);
  margin: 0 16px;
  transition: color 0.2s ease-in;
}

.nav a.hover-effect:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 24px;
  width: 100%;
  border-bottom: 2px solid #00cc9c;
  opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.nav a.hover-effect:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



/* Dark Mode Switch */
#toggle {
  margin: 0 0 0 1em;
  display: inline-block;
  position: relative;
}

#toggle input {
  display: none;
}

.fa-circle-half-stroke {
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.6;
  color: var(--dark-to-light);
}



/* --- Mobile Nav --- */
.burger {
  display: none;
  cursor: pointer;
  z-index: 1000;
  animation: 0.5s ease-in 0.25s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0.25s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 4px;
  background-color: var(--dark-to-light);
  transition: all 0.2s ease-in;
}



/* --- Hero Section --- */
#home {
  position: relative;
  min-height: 100vh;
  height: auto;
  padding: 2em 10%;
}

#particles-js {
  width: 100%; 
  height: 100%;
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover;
}

canvas { 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  animation: 2s ease 0.25s 1 scaleIn;
  -webkit-animation: 2s ease 0.25s 1 scaleIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
} 

#home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: auto;
  padding: 0 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-bg);
  transition: background-color 0.2s ease-in;
  animation: 0.5s ease-in 0.25s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0.25s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
  margin: 0 0 16px;
  line-height: 1.1;
}

#home .text {
  font-size: 1.2em;
  max-width: 35em;
  width: 35em;
  margin: 0 auto 56px;
}

.font-weight {
  font-weight: 800;
}

#home .btn {
  font-weight: 400;
  background-color: #00cc9c;
  color: var(--light-to-dark);
  border: 2px solid #00cc9c;
  padding: 18px 32px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

#home .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}



/* --- About Section --- */
#about {
  height: auto;
  padding: 8em 10% 2.5em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  width: 100%;
}

.text-align-left {
  text-align: left;
}

.line {
  width: 96px;
  height: 4px;
  background-color: var(--dark-to-light);
  border-radius: 5px;
  opacity: 0.1;
  margin: 16px auto 0;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;
}

#about .line {
  margin: 16px auto 0 0;
}

#about .container {
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: var(--dark-to-light);
  margin-bottom: 16px;
  transition: color 0.2s ease-in;
}

.column {
  width: 50%;
}

.graphic {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.circle1 {
  transition: all 0.2s ease-in;
  color: var(--light-to-dark);
  height: 21vw;
  width: 21vw;
  background-color: #00cc9c;
  border-radius: 50%;
  padding: 4px;
}

.circle1 img {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 5px;
  outline: none;
  border: none;
  opacity: 0.9;
  border-radius: 50%;
}

.circle2 {
  z-index: -1;
  transition: all 0.2s ease-in;
  margin-left: -8vw;
  height: 21vw;
  width: 21vw;
  background-color: var(--light-to-dark);
  border: 2px solid var(--dark-to-light);
  border-radius: 50%;
}



/* --- Projects Section --- */
#projects {
  height: auto;
  padding: 8em 10% 2.5em;
}

#projects .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 96px 0;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto 0;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition-duration: 0.5s;
  overflow-y: hidden;
  border-radius: 5px;
}

.card a {
  border: 2px solid var(--shade-color);
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.card img {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 2.5px;
  outline: none;
  border: none;
}

.first-half {
  grid-column: 1 / 8;
  grid-row: 1;
}

.text-overlap {
  text-align: right;
  grid-row: 1;
  grid-column: 7 / -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.green {
  color: #00cc9c;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

#projects h3 {
  color: var(--dark-to-light);
  margin-bottom: 24px;
  transition: color 0.2s ease-in;
}

.description {
  background-color: var(--shade-color);
  padding: 24px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
}

.tech-list {
  display: flex;
  margin-top: 24px;
}

.text-overlap li {
  margin-left: 16px;
  list-style: none;
}

.alt-overlap {
  grid-row: 2;
  grid-column: 1 / 8;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.alt-overlap li {
  margin-right: 16px;
  list-style: none;
}

.second-half {
  grid-row: 2;
  grid-column: 7 / -1;
}

.last-row {
  grid-row: 3;
}

#projects .text {
  font-size: 16px;
}

.project-links {
  margin-top: 20px;
  display: flex;
}

.project-links a {
  border: none;
}

.text-overlap .project-links i {
  margin-left: 24px;
}

.project-links i {
  display: block;
  font-size: 1.1em;
  padding: 2px;
  color: var(--dark-to-light);
  transition: all 0.2s ease-in;
}

.project-links i:hover {
  color: #00cc9c;
}



/* --- Contact Section --- */
#contact {
  padding: 8em 5% 2.5em;
  min-height: 48em;
  height: auto;
}

#contact .container {
  display: block;
  width: 55vw;
  margin: 40px auto;
}

#contact .text {
  text-align: center;
  color: var(--dark-to-light);
  margin-top: 16px;
  transition: color 0.2s ease-in;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form input[type="text"],
.form textarea {
  padding: 18px;
  border: none;
  margin-bottom: 0.25em;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  transition: border 0.05s linear;
  color: var(--dark-to-light);
  line-height: 27.5px;
  background-color: var(--shade-color);
  transition: background-color 0.2s ease-in;
}

.form input:focus {
  outline: none !important;
  border-bottom: 2px solid #00cc9c;
}

textarea:focus {
  outline: none !important;
  border-bottom: 2px solid #00cc9c;
}

textarea, input {
  font-family: 'Nunito', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  height: 15em;
  resize: vertical;
  min-height: 10em;
  max-height: 62.5em;
  display: block;
}

::-webkit-input-placeholder {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

::-moz-placeholder {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.center {
  margin-top: 2.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

#contact .btn {
  display: inline-block;
  padding: 0;
  margin: auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: var(--light-to-dark);
  padding: 18px 32px;
  border: 2px solid #00cc9c;
  background-color: #00cc9c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#contact .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}



/* PHP styles */
.showcase {
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 56px 40px;
  background-color: var(--shade-color);
  border-radius: 5px;
}

.emoji {
  font-size: 4em;
  margin-bottom: 32px;
}

.thanks-text {
  color: var(--dark-to-light);
  font-size: 1.8em;
  font-weight: bolder;
  margin-bottom: 16px;
}

.submission-text {
  color: var(--shade-font-color);
  margin-bottom: 24px;
  font-size: 1em;
  text-align: center;
  line-height: 1.5;
}

.fa-house {
  padding: 0 5px;
}

.submission-link {
  text-decoration: none;
  color: #00cc9c;
  border-bottom: 1px solid transparent;
  transition-duration: 0.25s;
  font-size: 1em;
}

.error{
  border-top: 2px solid #E5446D;
  color: #E5446D;
  text-align: center;
  padding: 10px 0;
  margin-top: 2px;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
}

.fa-exclamation-circle {
  margin: 0 4px;
}

.inputAlert {
  padding: 10px 15px;
  width: 100%;
  border-top: 2px solid #E5446D;
  color: #E5446D;
  text-align: center;
  font-size: 1em;
}



/* --- Footer Section --- */
footer {
  border-top: 1px solid var(--shade-color);
  transition: all 0.2s ease-in;
}

footer .container {
  justify-content: center;
  align-items: center;
  min-height: 3.125em;
  padding: 2.5em 10%;
}

footer nav {
  list-style: none;
}

footer nav ul {
  padding: 0 !important;
  margin: 0;
}

footer nav li {
  display: inline-block;
}

footer nav a {
  text-decoration: none;
}

footer .social-link {
  font-size: 22px;
  padding: 4px 16px;
  color: var(--dark-to-light);
  transition: all 0.2s ease-in;
}

footer a:hover .social-link {
  color: #00cc9c;
}



/* --- Media Queries --- */
@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }

  #header {
    padding: 1em 15%;
  }

  #home {
    padding: 2em 15%;
  }

  #about {
    padding: 8em 15% 2.5em;
  }

  #projects {
    padding: 8em 15% 2.5em;
  }

  #contact .container {
    width: 50vw;
  }
}

@media screen and (max-width: 1366px) {
  #header {
    padding: 1em 5%;
  }

  #header .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  #home {
    padding: 2em 5%;
  }

  #about {
    padding: 6em 5% 2.5em;
  }

  #about .container {
    max-width: 1100px;
  }

  #projects {
    padding: 6em 5% 2.5em;
  }

  #projects .container {
    max-width: 1100px;
  }

  #contact {
    padding: 6em 5% 2.5em;
  }

  footer .container {
    padding: 1.5em 5%;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    z-index: 500;
    right: 0;
    height: 100vh;
    top: 0;
    padding: 4.125em 1.25em 0;
    background-color: var(--light-to-dark);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    transform: translateX(100%);
  }

  .nav a {
    width: 100%;
    text-align: right;
    padding: 16px 0;
    margin: 0;
    transition: all 0.2s ease-in;
    opacity: 0;
    border-bottom: 1px solid var(--shade-color);
  }

  #toggle {
    margin: 16px 0;
  }

  .burger {
    display: block;
  }

  #home .content {
    width: 100%;
  }

  .circle1 {
    height: 24vw;
    width: 24vw;
  }
  
  .circle2 {
    height: 24vw;
    width: 24vw;
  }

  #contact {
    padding: 6em 5% 2.5em;
  }
}

@media screen and (max-width: 766px) {
  h1 {
    font-size: 9vw;
  }

  #home .text {
    width: 100%;
  }

  h2 {
    font-size: 9vw;
  }

  #about .container {
    flex-direction: column;
  }

  .text-align-left {
    text-align: center;
  }

  #about .line {
    margin: 16px auto 0;
  }

  #about .column {
    width: 100%;
  }

  .graphic {
    justify-content: center;
    margin-top: 56px;
  }

  .circle1 {
    height: 40vw;
    width: 40vw;
  }
  
  .circle2 {
    height: 40vw;
    width: 40vw;
  }

  .first-half {
    grid-column: 1 / 14;
    grid-row: 1;
  }

  .second-half {
    grid-column: 1 / 14;
    grid-row: 2;
  }

  .card a {
    border: none;
  }

  .card img {
    border-radius: 5px;
    min-height: 400px;
  }
  
  .text-overlap {
    grid-row: 1;
    grid-column: 1 / 14;
    text-align: left;
    align-items: flex-start;
  }
  
  .text-overlap li {
    margin: 0 16px 0 0;
  }
  
  .alt-overlap {
    grid-row: 2;
    grid-column: 1 / 14;
    z-index: 1;
  }
  
  .last-half {
    grid-row: 2;
    grid-column: 1 / 14;
  }
  
  .last-row {
    grid-row: 3;
  }

  .mq-padding {
    padding: 0 24px;
  }

  .description {
    padding: 0;
    box-shadow: none;
  }

  .margin-left {
    margin: 0;
  }

  .tech-list {
    justify-content: left;
    width: auto;
  }

  .tech-list li {
    margin-right: 16px;
  }

  .text-overlap, .alt-overlap {
    text-align: left;
    background-color: var(--shade-color);
    opacity: 0.95;
  }

  .text-overlap .project-links i {
    margin: 0 24px 0 0;
  }

  #contact .container {
    width: 100%;
  }

  footer .social-link {
    padding: 4px 16px;
  }

  .box {
    padding: 56px 5%;
  }
}



/* --- Classes added with JS --- */
.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-3.5px,5px);
  transform: rotate(-45deg) translate(-3.5px,5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-3.5px,-5px);
  transform: rotate(45deg) translate(-3.5px,-5px);
}

.noscroll {
  overflow: hidden;
}



/* --- Keyframes --- */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Animation on scroll */
.js-scroll {
  opacity: 0;
  transition: opacity 0.4s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fadeIn {
  animation: fade-in 0.3s ease-in both;
  -webkit-animation: fade-in 0.3s ease-in both;
}
 
.scrolled.fadeInBottom {
  animation: fadeInBottom 0.4s ease-in both;
  -webkit-animation: fadeInBottom 0.4s ease-in both;
}
