/* Misc */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  background-color: #191a1d;
  overflow-x: hidden;
}

p, a {
  font-weight: 300;
}

/* Navigation */

#nav {
  background-color: #191a1d;
  padding: 10px 10% 15px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#nav .container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#logo {
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -4px;
  font-size: 60px;
  color: #E0E0E0;
  transition-duration: 0.3s;
  font-family: 'Barlow Semi Condensed', sans-serif;
  animation: 0.5s ease-in 0s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#logo span {
  color: #00CC9C;
}

.sub-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #adadad;
  display: inline-block;
  padding: 3px;
  margin-left: 3em;
}

.nav-link:hover {
  color: #00cc9c;
}

a.hover-effect:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 26px;
  width: 100%;
  border-bottom: 1px solid #00cc9c;
  opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.35s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.hover-effect:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Mobile nav */

.burger {
  display: none;
  cursor: pointer;
  animation: 0.5s ease-in 0s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #E0E0E0;
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* Home section */

#home {
  padding: 6em 10% 0;
  overflow: hidden;
}

.container {
  display: flex;
}

#home .container {
  justify-content: space-between;
  align-items: center;
  max-height: 1080px;
  min-height: 600px;
  height: 90vh;
  padding-bottom: 10vh;
  
}

.content {
  opacity: 0;
  animation: 0.5s ease-in 0s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

h1 {
  white-space: nowrap;
  color: white;
  font-size: 5em;
  font-weight: 900;
  line-height: 1.1;
  margin-left: -5px;
}

.text {
  font-size: 1.2em;
}

#home .text {
  color: #adadad;
  margin-top: 15px;
  line-height: 1.3;
}

#home span {
  color: #00cc9c;
}

.btn {
  font-size: 1.2em;
  border: 1px solid #00cc9c;
  border-radius: 5px;
  background-color: #00cc9c;
  text-decoration: none;
  padding: 1em 1.5em;
  transition-duration: 0.3s;
  display: inline-block;
}

#home .btn {
  text-align: center;
  margin-top: 30px;
  color: #191a1d;
}

#home .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}

.art {
  display: flex;
  align-items: center;
  animation: 0.5s ease-in 0s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.vert-social-links {
  position: absolute;
  right: 1.5%;
  animation: 0.5s ease-in 0s 1 fadeIn;
  -webkit-animation: 0.5s ease-in 0s 1 fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.vert-social-links li {
  list-style: none;
}

.social-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  padding: 5px;
  transition-duration: 0.3s;
}

#home .social-link {
  color: #adadad;
  margin: 15px 0px;
}

.vert-social-links .social-link:hover {
  color:  #00cc9c !important;
}

/* About section */

#about {
  padding: 6em 10% 2.5em;
  background-color: #fff;
}

h2 {
  color: #191a1d;
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}

.green-line {
  width: 100px;
  height: 4px;
  background-color: #00cc9c;
  border: none;
  margin: 0 auto;
}

#about .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 32.25% 32.25% 32.25%;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 3em 0 0;
}

#about .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 1.25em;
  background-color: #ebebeb;
  border-radius: 5px;
  text-align: center;
  height: 350px;
}

#about .column img {
  width: 75px;
  margin: 1em auto;
}

h3 {
  color: #191a1d;
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: 400;
}

#about .text {
  margin: 1em 0;
  color: #191a1d;
  line-height: 1.3;
}

/* Projects section */

#projects {
  padding: 6em 10% 2.5em;
  background-color: #fff;
}

#projects .container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-gap: 125px 0px;
  margin: 3em 0 0;
}

#projects .row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 33% 33% 34%;
}

#projects .column {
  width: 100%;
}

.col-one-span-two {
  grid-column: 1 / span 2;
}

.img-wrap {
  height: 100%;
  width: 100%;
  padding: 0;
  transition-duration: 0.5s;
}

.img-wrap:hover {
  transform: scale(1.03);
}

.img-wrap img {
  height: auto;
  width: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%), 0 5px 30px rgb(0 0 0 / 15%);
}

.text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 40px;
  position: relative;
}

#projects h3 {
  margin-bottom: 20px;
}

#projects .text {
  line-height: 1.3;
}

.column .text {
  margin-bottom: 20px;
}

.column .ul {
  list-style: none;
  margin-bottom: 20px;
}

.column .ul .text {
  margin-bottom: 0;
}

.column .li {
  color: #5F636D;
}

.link {
  color: white;
  border: 1px solid #00cc9c;
  border-radius: 5px;
  background-color: #00cc9c;
  text-decoration: none;
  font-size: 1.2em;
  padding:  1em 1.5em;
  margin: 0;
  width: max-content;
  transition-duration: 0.3s;
}

.text-col .link:hover {
  background-color: transparent;
  color: #00cc9c;
}

.fa-external-link-alt {
  margin-right: 10px;
}

/* Contact section */

#contact {
  padding: 6em 20% 5em;
  background-color: #fff;
}

#contact .container {
  display: block;
}

#contact .text {
  text-align: center;
  margin: 0.8em 0 1em;
  color: #5F636D;
}

.form {
  width: 100%;
  margin: 0.75em auto 2em;
}

.form input[type="text"],
.form textarea {
  padding: 15px 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  font-size: 1.2em;
  width: 100%;
  transition: all 0.3s linear;
  color: #191a1d;
  line-height: 27.5px;
  background-color: #ebebeb;
}

textarea, input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  height: 300px;
  resize: vertical;
  min-height: 150px;
  max-height: 1000px;
  border-bottom: none !important;
  display: block;
}

::-webkit-input-placeholder {
  color: #5F636D;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::-moz-placeholder {
  color: #5F636D;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #5F636D;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#contact .btn {
  cursor: pointer;
  float: left;
  font-weight: 300;
  margin-top: 2px;
  color: #fff;
}

#contact .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}

/* PHP styles */

.white-background {
  background-color: #fff;
}

.showcase {
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.thanks-text {
  color: #191a1d;
  font-size: 2em;
  margin-bottom: 20px;
}

.submission-text {
  color: #5F636D;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.fa-arrow-left {
  font-size: 15px;
  padding: 0 5px 2.5px 0;
}

.submission-link {
  text-decoration: none;
  color: #00cc9c;
  border-bottom: 1px solid transparent;
  transition-duration: 0.25s;
  font-size: 1.2em;
}

.submission-link:hover {
  border-bottom: 1px solid #00cc9c;
}

.error{
  border-top: 2px solid #E5446D;
  color: #E5446D;
  padding: 10px 0;
  margin-top: 2px;
  width: 100%;
  max-width: 100%;
  font-size: 1.2em;
  font-weight: 300;
}

.fa-exclamation-circle {
  margin: 0 2px;
}

.inputAlert {
  padding: 10px 15px;
  width: 100%;
  border-top: 2px solid #E5446D;
  color: #E5446D;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}

/* Footer */

footer {
  background-color: #ebebeb;
}

footer .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  padding: 2.5em 20%;
}

footer nav {
  list-style: none;
}

footer nav ul {
  padding: 0 !important;
  margin: 0;
}

footer nav li {
  display: inline-block;
}

footer nav a {
  text-decoration: none;
  margin: 0 2em 0 0;
  transition-duration: 0.3s;
}

footer .social-link {
  color: #5F636D;
}

footer a:hover .social-link {
  color: #191a1d;
}

.copyright {
  color: #5F636D;
  margin: 5px 0 0 0;
}

.copyright a {
  display: inline-block;
  color: #5F636D;
  text-decoration: none;
  transition-duration: 0.3s;
}

.copyright a:hover {
  color: #191a1d;
}

/* Media Queries */

@media screen and (min-width: 1920px) {
  #nav {
    padding: 10px 18% 15px;
  }

  #home {
    padding: 6em 18% 0;
  }

  #about {
    padding: 6em 18% 2.5em;
  }

  #projects {
    padding: 6em 18% 2.5em;
  }

  #contact {
    padding: 6em 26% 5em;
  }
  
  footer .container {
    padding: 2.5em 26%;
  }
}

@media screen and (min-width: 2560px) {
  #nav {
    padding: 10px 24% 15px;
  }

  #home {
    padding: 6em 24% 0;
  }

  #about {
    padding: 6em 24% 2.5em;
  }

  #projects {
    padding: 6em 24% 2.5em;
  }

  #contact {
    padding: 6em 30% 5em;
  }
  
  footer .container {
    padding: 2.5em 30%;
  }
}

@media screen and (max-width: 1366px) {
  #nav {
    padding: 10px 5% 15px;
  }
  
  #nav .container {
    max-width: 1125px;
  }

  #home {
    padding: 6em 5% 0;
  }

  #home .container {
    max-width: 1125px;
    margin: 0 auto;
  }

  .art {
    transform: scale(0.9);
  }

  #about {
    padding: 6em 5% 2.5em;
  }

  #about .container {
    max-width: 1125px;
    margin: 1.5em auto 0;
  }

  #projects {
    padding: 6em 5% 2.5em;
  }

  #projects .container {
    max-width: 1125px;
    margin: 1.5em auto 0;
  }

  #contact {
    padding: 6em 18% 5em;
  }

  footer .container {
    padding: 2.5em 18%;
  }
}

@media screen and (max-width: 1024px) {
  .text, .link, .btn {
    font-size: 1.1em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  .sub-nav {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 97px;
    padding: 15vh 0 25vh;
    border-top: 1px solid #00cc9c;
    background-color: #191a1d;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link {
    font-size: 1.1em;
    opacity: 0;
    margin: 0;
  }

  .burger {
    display: block;
  }

  .vert-social-links {
    display: none;
  }

  .art {
    transform: scale(0.7);
    margin-right: -75px;
  }

  #projects .row {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .col-one-span-two {
    grid-column: 1 / span 3;
  }
  
  .text-col {
    grid-column: 4 / span 2;
    justify-content: flex-start;
  }

  #projects .column {
    height: 355px;
  }

  #contact {
    padding: 6em 15% 5em;
  }

  footer .container {
    padding: 2.5em 15%;
  }

  .submission-text {
    font-size: 1.1em;
  }

  .submission-link {
    font-size: 1.1em;
  }

  .error {
    font-size: 1.1em;
  }

  .inputAlert {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 766px) {
  #home .container {
    flex-direction: column;
    align-items: space-around;
    height: auto;
    align-items: center;
  }

  h1 {
    font-size: 4.5em;
    text-align: center;
  }

  .content {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column
  }

  .content .text {
    text-align: center;
  }

  .art {
    margin: 1em 0 0;
  }

  #about .container {
    grid-template-rows: auto auto auto ;
    grid-template-columns: 100%;
    grid-gap: 20px 0;
  }

  #projects .row {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }

  #projects .column {
    height: auto;
  }

  .col-one-span-two {
    grid-column: auto;
  }
  
  .text-col {
    text-align: center;
    grid-column: auto;
    padding: 40px 0 0 0;
  }

  .img-wrap img {
    height: auto;
    width: 100%;
  }

  #projects .link {
    margin: 0 auto;
  }
  
  #contact {
    padding: 6em 5% 5em;
  }

  footer .container {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2.5em 5%;
  }

  footer nav ul {
    padding: 0 !important;
    margin: 0 0 3em;
  }

  footer nav a {
    margin: 0 0 0 2em;
  }
}

@media screen and (min-width: 1025px) {
  .sub-nav {
    animation: 0.5s ease-in 0s 1 fadeIn;
    -webkit-animation: 0.5s ease-in 0s 1 fadeIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
  }
}

@media screen and (max-width: 400px) {
    h1 {
      font-size: 4em;
    }
    .art {
      transform: scale(0.6);
    }
}

/* Classes added with JS */
.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px,6px);
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
  transform: rotate(45deg) translate(-5px,-6px);
}

.noscroll {
    overflow: hidden;
}


/* Keyframes for homepage */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

/* Animation on scroll */
.js-scroll {
  opacity: 0;
  transition: opacity 0.5s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 0.3s ease-in both;
  -webkit-animation: fade-in 0.3s ease-in both;
}
 
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 0.45s ease-in both;
  -webkit-animation: fade-in-bottom 0.45s ease-in both;
}
 
.scrolled.slide-left {
  animation: slide-in-left 0.45s ease-in both;
  -webkit-animation: slide-in-left 0.45s ease-in both;
}
 
.scrolled.slide-right {
  animation: slide-in-right 0.45s ease-in both;
  -webkit-animation: slide-in-right 0.45s ease-in both;
}
 
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
@keyframes slide-in-right {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Laptop */

.laptop {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.screen {
  width: 412.5px;
  height: 271.5px;
  background-color: black;
  border: 1px solid lightgrey;
  padding: 13.5px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.25);
}
.display {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #42454D;
}
.half-screen {
  width: 50%;
  height: 100%;
}
.half-screen:first-child {
  padding: 10px;
}
.window {
  width: 100%;
  height: 100%;
}
.bar {
  width: 100%;
  padding: 4.5px;
  background-color: black;
  display: flex;
  border-radius: 4px 4px 0 0;
}
.circle {
  background-color: grey;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  margin: 0 1.5px;
}
.circle:first-child {
  background-color: red;
}
.circle:nth-child(3) {
  background-color: green;
}
.laptop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #809BCE;
  height: 15px;
  padding: 0 5px;
}
.laptop-logo {
  height: 8px;
  width: 8px;
  background-color: lightgrey;
}
.laptop-nav {
  height: 6px;
  width: 60px;
  background-color: lightgrey;
}
.midbar {
  display: flex;
  background-color: white;
  padding: 15px 7.5px;
}
.one-third-col {
  height: 37.5px;
  width: 33%;
  background-color: lightgrey;
}
.two-thirds-col {
  background-color: lightgrey;
  height: 37.5px;
  width: 66%;
}
.bottombar {
  display: flex;
  background-color: #809BCE;
  padding: 15px 7.5px;
  border-radius: 0 0 4px 4px;
}
.margin-right {
  margin-right: 7.5px;
}
.code {
  width: 100%;
  height: 100%;
  background-color: #191a1d;
  padding: 15px;
}
.line {
  display: flex;
  width: 100%;
  padding: 3px 0;
}
.item {
  height: 5px;
  background-color: #809BCE;
}
.small {
  width: 22.5px;
  background-color: #B378BA;
}
.med {
  width: 45px;
  background-color: #BFF2E6;
}
.large {
  width: 67.5px;
}
.trapezoid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: space-around;
  border-bottom: 112.5px solid lightgrey;
  border-left: 69px solid transparent;
  border-right: 68px solid transparent;
  width: 550px;
}
.keypad {
  position: absolute;
  top: 15px;
  border-bottom: 45px solid darkgrey;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  width: 400px;
  border-radius: 3px;
}
.mousepad {
  position: absolute;
  top: 72.5px;
  border-bottom: 22.5px solid darkgrey;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 150px;
  border-radius: 3px;
}
.base {
  width: 550px;
  height: 18px;
  background-color: darkgrey;
  border-radius: 0 0 15px 15px;
}