/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



/* --- Variables --- */
:root {
  --light-to-dark: #F2F4F7;
  --dark-to-light: #1A202C;
  --shade-color: #D8DEE9;
  --light-bg: rgba(242, 244, 247, 0.4);
  --dark-bg: rgba(242, 244, 247, 0.95);
}

[data-theme="dark"] {
  --light-to-dark: #1A202C;
  --dark-to-light: #fff;
  --shade-color: #262f40;
  --light-bg: rgba(26, 32, 44, 0.4);
  --dark-bg: rgba(26, 32, 44, 0.95);
}



/* --- Misc --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  background-color: var(--light-to-dark);
  color: var(--dark-to-light);
  overflow-x: hidden;
  transition: all 0.2s ease-in;
}

a {
  text-decoration: none;
}

.text {
  font-size: 1em;
}

.lighter-text {
  font-weight: 300;
}



/* --- Header Section --- */
#header {
  z-index: 1000;
  position: fixed;
  padding: 1em 10%;
  width: 100%;
  background-color: var(--light-bg);
  transition: all 0.2s ease-in;
}

.container {
  display: flex;
}

#header .container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#logo {
  color: #00cc9c;
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: -4px;
  transition: all 0.2s ease-in;
}

#logo span {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease-in;
}

.nav li {
  list-style: none;
}

.nav a {
  position: relative;
  display: inline-block;
  color: var(--dark-to-light);
  margin: 0 1em;
  transition: color 0.2s ease-in;
}

.nav a.hover-effect:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.3em;
  width: 100%;
  border-bottom: 2px solid #00cc9c;
  opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.nav a.hover-effect:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



/* Dark Mode Switch */
#toggle {
  width: 50px;
  height: 25px;
  margin: 0 0 0 1em;
  display: inline-block;
  position: relative;
}

#toggle input {
  display: none;
}

.slider {
  background-color: var(--dark-to-light);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  position: absolute;
  border-radius: 1000px;
  box-shadow: 0px 5px 20px -10px #000000;
  transition: all 0.2s ease-in;
}

.slider:before {
  background-color: var(--light-to-dark);
  border-radius: 1000px;
  position: absolute;
  bottom: 5px;
  content: "";
  width: 20px;
  height: 15px;
  left: 5px;
  transition: all 0.2s ease-in;
}

#toggle input:checked + .slider:before {
  transform: translateX(20px);
}



/* --- Mobile Nav --- */
.burger {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.burger div {
  width: 20px;
  height: 2.86px;
  margin: 4px;
  background-color: var(--dark-to-light);
  transition: all 0.2s ease-in;
}



/* --- Hero Section --- */
#home {
  position: relative;
  min-height: 48em;
  height: auto;
  padding: 0 10%;
  margin: 0 0 2.5em;
}

#particles-js {
  width: 100%; 
  height: 100%; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover;
}

canvas { 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; 
  z-index: 0;
} 

#home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-bg);
  transition: background-color 0.2s ease-in;
}

h1 {
  white-space: nowrap;
  font-size: 4em;
  margin: 0.4em;
}

#home .text {
  max-width: 39em;
  width: 39em;
  line-height: 1.5;
  margin: 0 auto 2.8125em;
}

#home .btn {
  font-weight: 400;
  background-color: #00cc9c;
  color: var(--light-to-dark);
  border: 2px solid #00cc9c;
  padding: 1.25em 1.875em;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

#home .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}



/* --- About Section --- */
#about {
  min-height: 48em;
  height: auto;
  padding: 6em 10% 2.5em;
}

h2 {
  text-align: center;
  font-size: 3em;
  width: 100%;
}

.center-text {
  text-align: center;
}

#about .container {
  margin: 2em auto 0;
  display: flex;
}

.half-column {
  padding: 0;
  width: 50%;
}

#about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
}

#about .content div:nth-child(2) {
  margin: 50px 0;
}

h3 {
  font-weight: 300;
  font-size: 1.8em;
  color: var(--dark-to-light);
  margin-bottom: 15px;
  transition: color 0.2s ease-in;
}

h3 i {
  margin-left: 0.5em;
  color: #00cc9c;
}

#about .text {
  line-height: 1.5;
}

.flex-icons {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  padding-right: 50px;
}

.wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 10px;
}

.wrap .text {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.flex-icons i {
  color: var(--shade-color);
  cursor: pointer;
  width: 100%;
  font-size: 6em;
  padding: 25px 5px 10px;
  text-align: center;
  transition: color 0.2s ease-in;
}

.flex-icons i:hover {
  color: #00cc9c;
}

.wrap i:hover + .show {
  opacity: 1;
}



/* --- Projects Section --- */
#projects {
  min-height: 48em;
  height: auto;
  padding: 6em 10% 2.5em;
}

#projects .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5em auto;
}

.margin-top {
  text-align: center;
  margin-top: 1em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 32%;
  padding: 0;
  transition-duration: 0.5s;
  overflow-y: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid var(--shade-color);
  outline: none;
  opacity: 0.85;
  transition: border 0.2s ease-in;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25em;
  background-color: var(--light-to-dark);
  border: 2px solid var(--shade-color);
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in;
  opacity: 0;
}

.card:hover .overlay {
  opacity: 1;
}

#projects h3 {
  color: var(--dark-to-light);
  margin-bottom: 0.875em;
  transition: color 0.2s ease-in;
}

.overlay .text {
  line-height: 1.5;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .btn {
  padding: 0;
  font-weight: 400;
  color: var(--light-to-dark);
  padding: 1.25em 1.875em;
  background-color: #00cc9c;
  border: 2px solid #00cc9c;
  border-radius: 5px;
  transition: color 0.2s ease-in;
}

#projects .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}

#projects .fa-github {
  margin-left: 0.5em;
}



/* --- Contact Section --- */
#contact {
  padding: 6em 20% 2.5em;
  min-height: 48em;
  height: auto;
}

#contact .container {
  display: block;
  margin: 2.5em auto;
}

#contact .text {
  margin-top: 1em;
  text-align: center;
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form input[type="text"],
.form textarea {
  padding: 1em;
  border: none;
  margin-bottom: 0.25em;
  border-radius: 5px;
  font-size: 1.1em;
  width: 100%;
  transition: border 0.05s linear;
  color: var(--dark-to-light);
  line-height: 27.5px;
  background-color: var(--shade-color);
  transition: background-color 0.2s ease-in;
}

.form input:focus {
  outline: none !important;
  border-bottom: 2px solid #00cc9c;
}

textarea:focus {
  outline: none !important;
  border-bottom: 2px solid #00cc9c;
}

textarea, input {
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  height: 15em;
  resize: vertical;
  min-height: 10em;
  max-height: 62.5em;
  display: block;
}

::-webkit-input-placeholder {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::-moz-placeholder {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: var(--dark-to-light);
  transition: color 0.2s ease-in;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.center {
  margin-top: 2.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

#contact .btn {
  display: inline-block;
  padding: 0;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--light-to-dark);
  padding: 1.25em 1.875em;
  border: 2px solid #00cc9c;
  background-color: #00cc9c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#contact .btn:hover {
  background-color: transparent;
  color: #00cc9c;
}



/* PHP styles */
.showcase {
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background-color: var(--shade-color);
  border-radius: 5px;
}

.thanks-text {
  color: var(--dark-to-light);
  font-size: 2em;
  margin-bottom: 20px;
}

.submission-text {
  color: var(--shade-font-color);
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.fa-arrow-left {
  font-size: 15px;
  padding: 0 5px 2.5px 0;
}

.submission-link {
  text-decoration: none;
  color: #00cc9c;
  border-bottom: 1px solid transparent;
  transition-duration: 0.25s;
  font-size: 1.1em;
}

.submission-link:hover {
  border-bottom: 1px solid #00cc9c;
}

.error{
  border-top: 2px solid #E5446D;
  color: #E5446D;
  padding: 10px 0;
  margin-top: 2px;
  width: 100%;
  max-width: 100%;
  font-size: 1.2em;
  font-weight: 300;
}

.fa-exclamation-circle {
  margin: 0 2px;
}

.inputAlert {
  padding: 10px 15px;
  width: 100%;
  border-top: 2px solid #E5446D;
  color: #E5446D;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}



/* --- Footer Section --- */
footer {
  border-top: 1px solid var(--shade-color);
  transition: all 0.2s ease-in;
}

footer .container {
  justify-content: center;
  align-items: center;
  min-height: 3.125em;
  padding: 2.5em 10%;
}

footer nav {
  list-style: none;
}

footer nav ul {
  padding: 0 !important;
  margin: 0;
}

footer nav li {
  display: inline-block;
}

footer nav a {
  text-decoration: none;
}

footer .social-link {
  font-size: 22px;
  padding: 0.25em 1em;
  color: var(--dark-to-light);
  transition: all 0.2s ease-in;
}

footer a:hover .social-link {
  color: #00cc9c;
}



/* --- Media Queries --- */
@media screen and (min-width: 1920px) {
  body {
    font-size: 21px;
  }

  #header {
    padding: 1em 15%;
  }

  #about {
    padding: 6em 15% 2.5em;
  }

  #projects {
    padding: 6em 15% 2.5em;
  }

  #contact {
    padding: 6em 26% 2.5em;
  }
}

@media screen and (max-width: 1366px) {
  #header {
    padding: 1em 5%;
  }

  #header .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  #about {
    padding: 6em 5% 2.5em;
  }

  #about .container {
    max-width: 1100px;
  }

  .flex-icons i {
    font-size: 5em;
  }

  #projects {
    padding: 6em 5% 2.5em;
  }

  #projects .container {
    max-width: 1100px;
  }

  footer .container {
    padding: 1.5em 5%;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    z-index: 500;
    right: 0;
    height: 100vh;
    top: 0;
    padding: 4.125em 1.25em 0;
    background-color: var(--light-to-dark);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    transform: translateX(100%);
  }

  .nav a {
    width: 100%;
    text-align: right;
    padding: 1em 0;
    margin: 0;
    transition: all 0.2s ease-in;
    opacity: 0;
    border-bottom: 1px solid var(--shade-color);
  }

  #toggle {
    margin: 1em 0;
  }

  .burger {
    display: block;
  }

  h1 {
    font-size: 3.5em;
    margin: 20px;
  }

  #about .container {
    flex-direction: column;
  }

  .flex-icons {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    margin-bottom: 1em;
  }

  #about .content div:nth-child(2) {
    margin: 3em 0;
  }

  .half-column {
    padding: 0;
    width: 100%;
  }

  #about .content {
    padding: 0;
  }

  .flex-icons {
    padding: 0;
  }

  #projects .container {
    flex-direction: column;
    justify-content: space-between;
  }

  .card:nth-child(2) {
    margin: 3em 0;
  }

  .card {
    height: auto;
    width: 100%;
  }

  .overlay {
    opacity: 1;
    height: auto;
  }

  #contact {
    padding: 6em 15% 2.5em;
  }
}

@media screen and (max-width: 766px) {
  h1 {
    font-size: 9vw;
  }

  #home .text {
    font-size: 0.9em;
    width: auto;
  }

  h2 {
    font-size: 9vw;
  }

  .flex-icons i {
    font-size: 3em;
    padding: 10px;
  }

  #contact {
    padding: 6em 5% 2.5em;
  }

  footer .social-link {
    padding: 5px 16px;
  }
}



/* --- Classes added with JS --- */
.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px,4px);
  transform: rotate(-45deg) translate(-6px,4px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-6px,-4px);
  transform: rotate(45deg) translate(-6px,-4px);
}

.noscroll {
    overflow: hidden;
}



/* --- Keyframes --- */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}